body,html{
	width:100%;
	height:100%;
	font-size:0.597333rem;
	font-family: "PingFangSC-Regular";
}
.main{
	width:100%;
	overflow: hidden;

}
.form{
	width:8.149333rem;
	overflow: hidden;
	height:auto;
	margin:0 auto;
	margin-bottom: 0.938667rem;
}
.form .form_tit{
	text-align: center;
	font-size:0.768rem;
	color:#1e4e7b;
	margin-top:0.426667rem;
	font-weight: 600;
}
.shadow{
	height:1.152rem;
	width:100%;
	box-shadow: 0 1px 30px #eee ;
	margin-top:-1.152rem;
	margin-bottom:0.789333rem;
}
.ipt{
	width:13.226667rem;
	overflow: hidden;
	height:auto;
	margin:0 auto;
	background: #fff;
	position: relative;
	box-sizing: border-box;
	

}
.mobelnum{
	width:100%;
	height:1.152rem;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 1.344rem;
	position: relative;
}
.mobelnum input{
	border:0;
	margin:0;
	padding:0;
	width:100%;
	outline: none;
}
/*获取验证码*/
span.getcode{
	color:#fff;
	background: #0090ff;
	text-align: center;
	position: absolute;
	right:0;
	top:0;
	display: block;
	width:3.157333rem;
	height:1.024rem;
	border-radius: 35px;
	line-height:1.024rem;
	font-size: 0.584rem;
}
/*提交按钮*/
.login_btn{
	margin-top:0.32rem;
	width:100%;
	height:1.92rem;
	text-align: center;
	line-height: 1.92rem;
	background: #e2e2e2;
	border:0;
	color:#fff;
	font-weight: 500;
	font-size: 0.682667rem;
}
input.active::-webkit-input-placeholder{
	color:#ee3435;
}
.btnbg{
	background:url(../img/btnbg2.png) no-repeat center;
}